<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="include/layout">
<head>
    <meta charset="UTF-8"/>
    <title>哈皮客 - Hapicker - 发现快乐</title>
    <!--<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>-->
</head>
<body>
<div layout:fragment="content">
    <div class="hp-index-bac-white">
        <div class="bac-1 hp-jumbotron">
            <p class="hp-jumbotron-header">Hapicker</p>
            <p style="font-size: 2rem;text-align: center;">博客、工具及私藏，提升技术，发现快乐</p>
            <p align="center"><a class="hp-jumbotron-btn" href="#index-panel-scroll" id="index-panel-scroll-button">View
                All</a></p>
            <img class="center-block img-rounded hp-masthead-img"
                 th:src="@{'/image/index-me.png'}"/>
        </div>
        <hr class="hp-index-hr-short"/>
        <div align="center" class="hp-index-text-box">
            <h2>永久免费，开源，使用简单</h2>
            <h4>在Hapicker上有技术博客和一些有趣的文章，并且集合了各种常用的功能。</h4>
            <h4>系统基于Spring Cloud + Bootstrap开发，代码开源在Github上</h4>
            <h4>可以互相参考学习技术，并且同时分享一些有趣的内容。</h4>
        </div>
        <hr class="hp-index-hr-short"/>
        <div class="container">
            <div class="hp-index-panel-box row" id="index-panel-scroll">
                <div class="col-md-4">
                    <div class="panel panel-default  center-block">
                        <div class="hp-index-panel-up"><img
                                src="https://bpic.588ku.com/back_pic/03/76/17/6857be75526c28f.jpg!/fh/300/quality/90/unsharp/true/compress/true"
                                alt="图片无法显示"></div>
                        <div class="hp-index-panel-down">
                            <h3 class="hp-index-panel-box-title">博客</h3>
                            <p class="hp-index-panel-box-text">技术博客分享</p>
                            <p align="center"><a class="btn btn-default" href="/article/blog/1">立即进入</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default  center-block">
                        <div class="hp-index-panel-up"><img
                                src="https://bpic.588ku.com/back_pic/03/58/04/9657a1ed394ec0a.jpg!r850/fw/800"
                                alt="图片无法显示"></div>
                        <div class="hp-index-panel-down">
                            <h3 class="hp-index-panel-box-title">随笔</h3>
                            <p class="hp-index-panel-box-text">随笔一记</p>
                            <p align="center"><a class="btn btn-default" href="/article/essay/1">立即进入</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default  center-block">
                        <div class="hp-index-panel-up"><img
                                src="https://p3.pstatp.com/weili/l/260022276552523794.webp" alt="图片无法显示"></div>
                        <div class="hp-index-panel-down">
                            <h3 class="hp-index-panel-box-title">Example</h3>
                            <p class="hp-index-panel-box-text">Something more...</p>
                            <p align="center"><a class="btn btn-default">立即进入</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default  center-block">
                        <div class="hp-index-panel-up"><img
                                src="https://bpic.588ku.com/back_pic/03/51/31/045790f4c07fe1e.jpg!/fh/300/quality/90/unsharp/true/compress/true"
                                alt="图片无法显示"></div>
                        <div class="hp-index-panel-down">
                            <h3 class="hp-index-panel-box-title">Example</h3>
                            <p class="hp-index-panel-box-text">Something more...</p>
                            <p align="center"><a class="btn btn-default">立即进入</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default  center-block">
                        <div class="hp-index-panel-up"><img
                                src="https://bpic.588ku.com/back_pic/17/03/27/881de447412182fb8adbdd5a82d4f19b.jpg!/fh/300/quality/90/unsharp/true/compress/true"
                                alt="图片无法显示"></div>
                        <div class="hp-index-panel-down">
                            <h3 class="hp-index-panel-box-title">Example</h3>
                            <p class="hp-index-panel-box-text">Something more...</p>
                            <p align="center"><a class="btn btn-default">立即进入</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default  center-block">
                        <div class="hp-index-panel-up"><img
                                src="https://goss.veer.com/creative/vcg/veer/800water/veer-105331422.jpg" alt="图片无法显示">
                        </div>
                        <div class="hp-index-panel-down">
                            <h3 class="hp-index-panel-box-title">Example</h3>
                            <p class="hp-index-panel-box-text">Something more...</p>
                            <p align="center"><a class="btn btn-default">立即进入</a></p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <hr class="hp-index-hr-short"/>
        <div class="bac-1" align="center" style="padding: 3.5rem;font-weight: 700;margin: 0;color: #ffffff;">
            <h1>想要在Hapicker上发现更多有趣的内容吗？</h1>
            <h3>查看更多</h3>
        </div>
    </div>
    <script>
        $(function () {
            //锚点滑动
            $("#index-panel-scroll-button").click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var $target = $(this.hash);
                    $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');
                    if ($target.length) {
                        var targetOffset = $target.offset().top;
                        $('html,body').animate({scrollTop: targetOffset}, 500);
                        return false;
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>