<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="include/layout">
<head>
    <meta charset="UTF-8" />
    <title>Hapicker</title>
    <!--<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>-->
</head>
<body>
    <div layout:fragment="content">
        <div class="bac-1 hp-jumbotron" style="height: 730px;">
            <p style="font-size: 50px;text-align: center;font-size: 6rem;line-height: 6rem;margin-top: 100px;">欢迎来到Hapicker!</p>
            <p style="font-size: 20px;text-align: center;">Be a happy picker.</p>
        </div>
    </div>
</body>
</html>