<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hapicker.mapper.BusWarningInfoMapper">
    <resultMap id="BaseResultMap" type="com.hapicker.model.BusWarningInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="bus_warning_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="bus_no" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="departure" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="destination" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="bus_date" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="bus_time" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="ticket_left" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="warning_times" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="warning_status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        bus_warning_id, bus_no, departure, destination, bus_date, bus_time, ticket_left, warning_times,
        user_id, warning_status, create_time, update_time
    </sql>
    <select id="selectWarningIds" resultType="java.lang.Long">
        SELECT
            bus_warning_id
        FROM
            bus_warning_info
        WHERE
            warning_status = 0
          AND update_time <![CDATA[ <= ]]> CURRENT_TIMESTAMP - INTERVAL 5 MINUTE
        ORDER BY update_time ASC
                 LIMIT #{pageNo,jdbcType=INTEGER},10
    </select>

    <select id="selectWarningBus" resultType="com.hapicker.model.BusWarningInfo">
        SELECT
            bus_warning_id, bus_no, departure, destination, bus_date, bus_time, ticket_left, warning_times,
            user_id, warning_status, create_time, update_time
        FROM
            bus_warning_info
        WHERE
            warning_status = 0
          AND str_to_date(concat(bus_date,' ',bus_time), '%Y-%m-%d %H:%i') <![CDATA[ <= ]]> CURRENT_TIMESTAMP + INTERVAL #{upTime,jdbcType=INTEGER} MINUTE
--           AND update_time <![CDATA[ <= ]]> CURRENT_TIMESTAMP - INTERVAL 1 MINUTE
        ORDER BY update_time ASC
                 LIMIT #{pageNo,jdbcType=INTEGER},10
    </select>
</mapper>