<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hapicker.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.hapicker.model.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
      <id column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="user_nick" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="user_email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="user_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="user_avatar" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="user_profile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="user_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <result column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    user_id, user_name, user_nick, user_email, user_phone, user_avatar, user_profile,
    user_status, create_time, update_time
  </sql>
</mapper>