<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hapicker.mapper.UserConnectInfoMapper">
  <resultMap id="BaseResultMap" type="com.hapicker.model.UserConnectInfo">
    <!--
      WARNING - @mbg.generated
    -->
      <id column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="platform_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="open_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <result column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    user_id, platform_key, open_id, create_time, update_time
  </sql>
</mapper>