<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="include/layout">
<head>
    <meta charset="UTF-8"/>
    <title>写博客 - Hapicker - 发现快乐</title>
    <link th:href="@{/vendor/wang/wangEditor.min.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/vendor/wang/wangEditor.min.js}"></script>
    <style>
        .toolbar {
            border: 1px solid #ccc;
        }

        .text {
            border: 1px solid #ccc;
            height: 400px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="page-header hp-page-breadcrumb visible-md visible-lg">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">写博客</li>
            </ol>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form th:action="${'/user/'+SESSION_USER.userId+'/article/doCreate'}" method="post" id="article-form">
                    <div class="form-group">
                        <label for="articleTitle">标题</label>
                        <input type="text" class="form-control" id="articleTitle" placeholder="标题" name="articleTitle"
                               th:value="${'在此输入标题'}"/><!--${doc?.title}-->
                        <p class="help-block">请输入标题</p>
                    </div>
                    <div class="form-group">
                        <label>正文</label>
                        <div id="article-toolbar" class="toolbar"></div>
                        <div id="article-editor" class="text" th:utext="${'<p>在此输入正文</p>'}"></div>
                        <p class="help-block">请输入正文</p>
                    </div>
                    <div class="form-group">
                        <label for="articleBrief">摘要</label>
                        <textarea class="form-control" id="articleBrief" name="articleBrief">在此输入摘要</textarea>
                        <p class="help-block">请输入摘要 [<a href="##">自动提取</a>]</p>
                    </div>
                    <div class="form-group">
                        <label for="articleSource">来源</label>
                        <input type="text" class="form-control" id="articleSource" placeholder="标题" name="articleSource"
                               th:value="${'原创'}"/><!--${doc?.title}-->
                        <p class="help-block">如转载，请标注文章来源</p>
                    </div>
                    <div class="form-group">
                        <label for="articleCover">封面</label>
                        <input type="text" class="form-control" id="articleCover" placeholder="标题" name="articleCover"
                               th:value="${'https://goss.veer.com/creative/vcg/veer/800water/veer-105331422.jpg'}"/>
                        <!--${doc?.title}-->
                        <p class="help-block">请输入封面地址</p>
                    </div>
                    <div class="form-group">
                        <div class="radio-inline" th:each="item,iterStat: ${articleInfoTypes}">
                            <label>
                                <input type="radio" name="articleType" th:value="${item.key}"
                                       th:checked="${iterStat.index == 0 ? true : false}"><span
                                    th:text="${item.value}"></span>
                            </label>
                        </div>
                        <p class="help-block">请选择文章类型</p>
                    </div>
                    <div class="form-group">
                        <label>文章类别</label>
                        <br/>
                        <label class="checkbox-inline" th:each="item: ${categoryInfos}" th:title="${item.categoryBrief}">
                            <input type="checkbox"  name="categoryId" th:value="${item.categoryId}"><span th:text="${item.categoryName}"></span>
                        </label>
                        <p class="help-block">请选择文章类别</p>
                    </div>
                    <div class="form-group" style="float: right">
                        <input type="hidden" name="articleContent" id="article-content">
                        <button type="button" class="btn btn-default" style="width: 200px;" onclick="doArticleSubmit()">
                            提交
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        //富文本编辑器
        var E = window.wangEditor
        var editor = new E('#article-toolbar', '#article-editor')
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'italic',  // 斜体
            'underline',  // 下划线
            'strikeThrough',  // 删除线
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            'quote',  // 引用
//            'emoticon',  // 表情
            'image',  // 插入图片
            'table',  // 表格
            'video',  // 插入视频
            'code',  // 插入代码
            'undo',  // 撤销
            'redo'  // 重复
        ]
        // 配置服务器端地址
        editor.customConfig.uploadImgServer = '/article/upload'
        editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024
        editor.customConfig.uploadImgHooks = {
            before: function (xhr, editor, files) {
                // 请求发送之前
            },
            success: function (xhr, editor, result) {
                // 上传成功之后
                // result 是服务器端返回的结果
                console.log(result.data[0])
            },
            fail: function (xhr, editor, result) {
                // 上传失败之后
                // result 是服务器端返回的结果
                console.log(result)
            },
            error: function (xhr, editor) {
                // 请求发生错误
            },
            timeout: function (xhr, editor) {
                // 请求超时
            }
        }
        editor.create()

        function doArticleSubmit() {
            var content = editor.txt.html().trim();
            $("#article-content").val(content);
            $("#article-form").submit();
        }
    </script>
</div>
</body>
</html>