<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="include/layout">
<head>
    <meta charset="UTF-8"/>
    <title>用户 - Hapicker - 发现快乐</title>
    <!--<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>-->
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="page-header hp-page-breadcrumb visible-md visible-lg">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">消息</li>
            </ol>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>提交成功</h3>
            </div>
        </div>

    </div>
</div>
</body>
</html>