body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #f2f2f2;
    font-family: libre franklin,Helvetica,Arial,sans-serif;
}

.hp-content {
    min-height: 50rem;
    padding: 0;
    margin: 0;
}

.hp-jumbotron {
    padding-top: 90px;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    height: 600px;
}

.hp-jumbotron-btn {
    font-size: 14px;
    border: 0;
    font-weight: 700;
    padding: 1.5rem 2rem;
    color: #212529;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.hp-jumbotron-header {
    font-size: 6rem;
    text-align: center;
    line-height: 6rem;
}

.bac-1 {
    background-image: url("/image/bac-1.png");
}

.hp-nav {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.hp-nav-brand{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
.hp-panel-img{
    margin-top: 20px;
}

.hp-list-panel-header-a{
color: #0f0f0f;
}

.hp-brief{
    color: #666666;
}
.hp-create-time{
    color: #666666;
}
.hp-article-content{
    padding: 0;
    margin: 0;
}
.hp-article-content-box{
    padding: 0;
    margin:0;
}

.hp-footer{
    text-align: center;
    font-family: libre franklin,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    color: #212529;
    padding: 5rem;
}
.hp-footer a{
    color: #212529;
}

.hp-page-breadcrumb{
    font-size: 17px;
    font-weight: 400;
    line-height: 38px;
    margin: 5px;
}
.hp-page-breadcrumb ol{
    margin: 0px;
}
.hp-article-avatar{
}
.hp-article-user{
    color: #666666;
}
.hp-article-user img{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 20px;
}
.hp-article-source{
    word-break:break-all;
    white-space:normal;
}
.hp-article-category{
    margin: 2px;
    padding: 5px;
    word-wrap:break-word;
    white-space:normal;
    cursor: pointer;
    display: inline-block;  /*将span当做块级元素对待*/
}
.hp-slider-ad{
    cursor: pointer;
}
.hp-index-bac-white{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.hp-masthead-img{
    margin-top:20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 4px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.4);
}

.hp-index-hr-short{
    width: 130px;
    margin-top:35px ;
    margin-bottom:35px ;
}

.hp-index-text-box h4{
    padding: 5px;
}
.hp-index-panel-down button{
    font-weight: 700;
}
.hp-index-panel-box-title{
    font-family: pt sans caption,Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
}
.hp-index-panel-box-text{
    font-family: libre franklin,Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.hp-index-panel-box .panel{
    height: 360px;
    width: 320px;
}
.hp-index-panel-box .panel .panel-body{
    margin: 0px;
    padding: 0px;
}
.hp-index-panel-up{
    height: 200px;
    width: 318px;
    overflow: hidden;
}
.hp-index-panel-down{
    width: 318px;
    height: 132px;
    overflow: hidden;
    margin-top: 25px;
    background-color: #f5f5f5;
}
.hp-index-panel-up image{
    margin: 0;
}
.hp-login-box-parent{
    padding-left: 90px;
    padding-right: 90px;
}
.hp-login-box{
    padding: 50px;
    color: #212529;
    background:none;
}
.hp-cursor{
    cursor: pointer;
}
.hp-margin-none{
    margin:0;
}


@media (max-width:768px) {
    .hp-jumbotron-header {
        font-size: 3rem;
        text-align: center;
        line-height: 3rem;
    }
    .hp-article-content-box{
        padding: 0;
        margin: 20px 0;
    }
    .hp-login-box-parent{
        padding: 10px;
    }
}