body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #f2f2f2;
}

.hp-content {
    min-height: 50rem;
    padding: 0;
    margin: 0;
}

.hp-jumbotron {
    padding-top: 90px;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    height: 40rem;
}

.hp-jumbotron-btn {
    font-size: 14px;
    border: 0;
    font-weight: 700;
    padding: 1.5rem 2rem;
    color: #212529;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.hp-jumbotron-header {
    font-size: 6rem;
    text-align: center;
    line-height: 6rem;
}

.bac-1 {
    background-image: url("/image/bac-1.png");
}

.hp-nav {
    margin-bottom: 0;
}
.hp-brief{
    color: #666666;
}

.hp-footer{
    text-align: center;
    font-family: libre franklin,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    color: #212529;
    padding: 5rem;
}

@media (max-width:768px) {
    .hp-jumbotron-header {
        font-size: 3rem;
        text-align: center;
        line-height: 3rem;
    }
}