<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="include/layout">
<head>
    <meta charset="UTF-8"/>
    <title>二维码生成 - Hapicker - 发现快乐</title>
    <link th:href="@{/vendor/wang/wangEditor.min.css}" rel="stylesheet" type="text/css"/>
    <script src="/vendor/wang/wangEditor.min.js"></script>
    <style>

    </style>

</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <div class="page-header hp-page-breadcrumb visible-md visible-lg">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="/tools/index">实用工具</a></li>
                <li class="active">二维码生成</li>
            </ol>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="my-form">
                    <div class="form-group">
                        <label for="for-content">内容</label>
                        <textarea class="form-control" id="for-content" placeholder="输入内容" required rows="6"></textarea>
                    </div>
                    <button type="button" onclick="createQrcode()" class="btn btn-primary">立即生成</button>
                    <hr/>
                    <div class="form-group">
                        <label for="img-result">结果</label><br/>
                        <a title="点击下载" href="javascript:downloadQrcode()"><img id="img-result" src="" alt="待生成" class="img-thumbnail"></a>
                        <p class="help-block">如需要扫描二维码后跳转,请输入"http://www.hapicker.com" 格式(注:没在微信认证的地址,无法使用微信扫描跳转后访问)</p>
                    </div>
                </form>


                <hr/>

            </div>
            <script>
                function createQrcode() {
                    var content = $("#for-content").val().trim();
                    if (content == null || content == '' || content.size <= 0) {
                        alert("请输入内容!")
                        return;
                    }
                    $("#img-result").attr('src', '/tools/doQrcode?content=' + content);
                }

                function downloadQrcode() {
                    var content = $("#for-content").val().trim();
                    if (content == null || content == '' || content.size <= 0) {
                        alert("请先输入内容!")
                        return;
                    }
                    var toHref = '/tools/doQrcodeDownload?content=' + content;
                    window.open(toHref,'_blank');
                }
            </script>

            </div>
        </div>
    </div>
</div>
</body>
</html>