<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="include/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${articleTypeName}+' - Hapicker - 发现快乐'"></title>
    <!--<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>-->
    <meta name="keywords" th:content="${articleTypeName}"/>
    <meta name="description" th:if="${category != null}"
          th:content="${category.categoryName+' '+category.categoryBrief}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <!--页头-->
        <div class="page-header hp-page-breadcrumb visible-md visible-lg">
            <ol class="breadcrumb ">
                <li><a href="/">首页</a></li>
                <li class="active" th:text="${articleTypeName}"></li>
            </ol>
            <h3 th:if="${category != null}">
                <pi th:text="${category.categoryName}"></pi>
                <small th:text="${category.categoryBrief}"></small>
            </h3>
        </div>
        <div class="col-md-9 hp-list-content hp-article-content-box">
            <!--文章列表-->
            <div th:each="at : ${page.list}" class="panel panel-default">
                <!--<div class="panel-heading" ></div>-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{'/article/content/'+${at.articleId}}" class="thumbnail hp-panel-img">
                                <img th:src="@{${at.articleCover}}" alt="图片无法显示">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <a class="hp-list-panel-header-a" th:href="@{'/article/content/'+${at.articleId}}"><h3
                                    th:text="${at.articleTitle}"></h3></a>
                            <p class="hp-brief" th:text="${at.articleBrief}"></p>
                            <!--<p><span class="label label-default hp-article-category" th:each="cg : ${at.categorys}" th:text="${cg.categoryName}"></span></p>-->
                            <p class="hp-create-time">
                                <i class="glyphicon glyphicon-user"></i>
                                <pi th:text="${' '+at.userNick}"></pi>
                                <i class="glyphicon glyphicon-time"></i>
                                <pi th:text="${' '+#dates.format(at.createTime, 'yyyy年MM月dd日 HH:mm:ss')}"></pi>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default visible-xs visible-sm" th:if="${page.total > page.size}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6" th:if="${page.pageNum} != 1"><a class="btn btn-default btn-block"
                                                                              th:href="@{${pageUrl+(page.pageNum-1)}}">上一页</a>
                        </div>
                        <div class="col-xs-6" th:if="${page.pageNum} != ${page.pages}"><a
                                class="btn btn-default btn-block" th:href="@{${pageUrl+(page.pageNum+1)}}">下一页</a></div>
                    </div>
                </div>
            </div>

            <!--分页标签-->
            <div class="visible-md visible-lg">
                <ul class="pagination">
                    <li th:if="${page.pageNum} != 1"><a
                            th:href="@{${pageUrl+(page.pageNum-1)}}">&laquo; 上一页</a></li>
                </ul>
                <ul class="pagination" th:each="na:${page.navigatepageNums}">
                    <li th:if="${na} == ${page.pageNum}" class="active"><a th:text="${na}"></a></li>
                    <li th:if="${na} != ${page.pageNum}"><a th:text="${na}"
                                                            th:href="@{${pageUrl+na}}"></a>
                    </li>
                </ul>
                <ul class="pagination">
                    <li th:if="${page.pageNum} != ${page.pages}"><a
                            th:href="@{${pageUrl+(page.pageNum+1)}}"> 下一页 &raquo;</a></li>
                </ul>

            </div>

        </div>

        <!--侧边栏-->
        <div class="col-md-3">
            <div class="panel panel-default  visible-md visible-lg"
                 th:if="${categoryList != null && #lists.size(categoryList) > 0}">
                <div class="panel-body">
                    <h5>热门标签</h5>
                    <a class="label label-primary hp-article-category" th:each="cg : ${categoryList}"
                       th:text="${cg.categoryName}" th:href="@{'/article/category/'+${cg.categoryId}+'/1'}"></a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body hp-slider-ad">
                    <h5>广告</h5>
                    <img src="https://bpic.588ku.com/back_pic/04/10/11/605816ea48ec240.jpg!r650/fw/800" alt="图片无法显示"
                         class="img-thumbnail">
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>